{% extends 'base.html' %}

<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">My Expenses</a></li>
        </ol>
    </nav>


    <div class="card">
        <div class="card-body">
            <form action="{% url 'expenses' %}" method="post">
                <div class="form-group">
                    <label for="">Amount</label>
                    <input type="number" class="form-control form-control-sm" name="amount" id="amount">
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <input type="text" class="form-control form-control-sm" name="description" id="description">
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select name="category" id="category">
                        <option name="category" value="">1</option>
                        <option name="category" value="">2</option>
                        <option name="category" value="">3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Date of Expense</label>
                    <input type="date" class="form-control form-control-sm" name="date" id="date">
                </div>
                <input type="submit" class="btn btn-primary btn-primary-sm" value="Submit">
            </form>
        </div>
    </div>


</div>


{% block content %}
<h1>Add Expense</h1>
{% endblock %}