{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="#">Edit Income</a></li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2">
            <a href="{% url 'income-delete' income.id %}" class="btn btn-danger btn-sm">Delete</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <form action="{% url 'edit-income' income.id %}" method="post">
                {% include 'partials/_messages.html' %}
                {% csrf_token %}
                <div class="form-group">
                    <label for="">Amount</label>
                    <input type="number" class="form-control form-control-sm" name="amount" id="amount"
                        value="{{values.amount}}">
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <input type="text" class="form-control form-control-sm" name="description" id="description"
                        value="{{values.description}}">
                </div>
                <div class="form-group">
                    <label for="">Source</label>
                    <select class="form-control" name="source" id="source">
                        <option name="source" value="">Select one...</option>
                        {% for source in sources %}
                        {% if source.name == values.source %}
                        <option name="source" value="{{ source.name }}" selected="selected">{{ source.name }}
                        </option>
                        {% else %}
                        <option name="source" value="{{ source.name }}">{{ source.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Date of Income</label>
                    <input type="date" class="form-control form-control-sm" name="date" id="date"
                        value="{{values.date |date:'Y-m-d'}}">
                </div>
                <input type="submit" class="btn btn-primary btn-primary-sm" value="Save">
            </form>
        </div>
    </div>
</div>
{% endblock %}