{% extends 'base.html' %}

{% block content %}

<div class="container mt-3">
    <h5>Preferred Currency</h5>
    <div class="input-group">
        <select name="currencySelect" id="currencySelect" class="custom-select">
            <option selected>Choose...</option>
            {% for currency in currencies %}
            <option value="{{ currency.value }}">{{ currency.name }} - {{ currency.value }}</option>
            {% endfor %}
        </select>
    </div>
</div>



<hr />

{% endblock %}